@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

svg {
  fill: black;

  margin: 10px 15px;
}

body {
  background-color: #111;
  color: white;
  margin: 0;
}

/* --- T1: HEADER --- */
header {
  background-color: gray;
  border-radius: 20px;
  width: 95%;
  margin: 10px auto;
  justify-content: center;

  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
}

h1 {
  /* from @Google_fonts : ubuntu-bold */
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 2.5em;
  text-align: left;
  margin: 20px 0;
  margin-left: 0.5em;
}

.tags {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tags li {
  width: fit-content;

  display: flex;
  gap: 3px;
}

.tags li span,
.tags li h5 {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
  align-content: center;
}

.tags li h5 {
  /* from @Google_fonts : ubuntu-light */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin: 0;
  padding: 5px 10px;
}

header img {
  width: 90%;
  max-height: 350px;
  object-fit: cover;
  object-position: 0% 100%;
  justify-content: center;
  margin: 20px auto;
  border-radius: 20px;
}

/* --- T2: EDUCATION --- */
#studies {
  color: black;
  background-color: #eee;
  margin-top: 30px;
}

section {
  padding: 0 10px;
  padding-top: 20px;
}

h2 {
  /* from @Google_fonts : ubuntu-bold */
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;

  text-decoration: underline;
  margin: 0;
}

.sub_box {
  height: max-content;
  display: flex;
}

.text_box {
  display: block;
  margin-bottom: 20px;
}

.text_box h3 {
  /* from @Google_fonts : ubuntu-regular */
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1.2em;
  margin: 5px 0;
  width: max-content;
}

.text_box h4 {
  /* from @Google_fonts : ubuntu-light */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

  font-size: 0.8em;
  margin: 5px 0;
  width: 90%;
  margin: 0;
  margin-left: 10px;
}

/* --- T2: KNOWLEDGE --- */
#knowledge {
  background-color: #eee;
  color: black;
  padding: 20px 0;
}

p {
  /* from @Google_fonts : ubuntu-bold */
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;

  text-align: center;
  font-size: 11.5vw;
  margin: 0;
  border: black solid 5px;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
nav li {
  text-align: center;
  width: 100%;
  padding: 2px 5px;
  background-color: var(--color_tag);
}

.slidder {
    display: flex;
    overflow: scroll;
}

.topic {
  background-color: var(--color_tag);
  padding: 5%;
  min-width: 90%;
}

.content_box {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.list-desing {
  background-color: #eee;
  border-radius: 10px;
  padding: 8px;
  padding-top: 2px;
  width: 50%;
  height: 250px;
  margin-bottom: 30px;
  overflow: scroll;
}
.list-desing li {
  /* from @Google_fonts : ubuntu-light */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

  list-style: decimal;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.list-desing h3 {
  font-family: monospace;
  font-size: 24px;
  margin: 25px 0;
}
.list-desing h4 {
  font-family: monospace;
  text-align: center;
  margin: 8px 0;
}

.resources {
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 200px;
}
.resources a {
  /* from @Google_fonts : ubuntu-regular */
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 10px;
  background-color: lightgray;
  width: fit-content;
  padding: 2px 5px;
  list-style: none;
  border-radius: 5px;
}
