/*
FILE NAME : styles.css
MADE BY : DirtyDragon-CCXV
CREATION_DATE : 2025-11-27
DESCRIPTION : Add style to the index.html
LICENSE : MIT
GITHUB REPOSITORY : https://github.com/DirtyDragon-CCXV/LG-CV
*/

@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: white;
  margin: 0;
  display: flex;

  font-family: "Ubuntu";
}

/* ### NAVBAR ### */
.navbar_trigger {
  background-color: #2226;
  position: fixed;
  display: block;
  height: 100%;
  font-size:20px;
  padding-top: 50vh;
  transition: left 0.6s linear;
  z-index: 2;
}

nav {
  display: block;
  position: fixed;
  left: -430px;
  height: 100vh;
  width: 100vw;
  font-family: "Doto";
  font-weight: bold;
  background-color: #222;
  transition: left 0.6s linear;
  z-index: 1;
}
nav li {
  width: fit-content;
  font-size: 28px;
  text-wrap: nowrap;
  padding-top: 20px;
  margin-left: 50px;
}

nav li a {
  color: white;
}
/* --- dark mode --- */
#darkmode {
  position: absolute;
  top: 90%;
  left: 4.5%;
  display: inline-block;
  width: 90%;
  height: 60px;
  text-align: center;
  background-color: gainsboro;
  border-radius: 20px;
}
#darkmode span {
  display: var(--visible);
  color: red;
  margin-top: 15px;
  font-size: 30px;
}

#main {
  overflow-x: hidden;
}

/* ### HEADER ### */
header {
  padding: 20px;
}
header h1 {
  font-size: 70px;
  text-align: left;
  margin-left: 30px;
}
header h1::before {
  display: block;
  content: "CV: ";
  font-size: 25px;
  text-decoration: underline;
}

.tags {
  list-style: decimal;
  width: fit-content;
  margin: auto;
}
.tags::before {
  content: ".data > social_caracteristics:";
  font-size: 8px;
  font-weight: lighter;
  font-family: monospace;
  position: relative;
  left: -55px;
  opacity: 0.7;
}
.tags li span {
  font-weight: bold;
  text-decoration: underline;
  margin-right: 5px;
}
.tags li h5 {
  font-weight: 300;
}

/* ### STUDIES && JOB EXPERIENCE ### */
#studies,
#lab_exp {
  background-color: black;
  padding: 10px 20px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
#studies article,
#lab_exp article {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
article h3 {
  font-size: 20px;
  margin-top: 0;
}
.text_container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
.text_container .text_box h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
.text_container .text_box h4::before {
  content: "> ";
}
.text_container .text_box h5 {
  font-size: 12px;
  margin: 0;
  margin-left: 15px;
  font-weight: lighter;
}
.text_container .text_box i {
  font-size: 12px;
  margin: 0;
  margin-left: 15px;
  font-weight: bold;
}

/* ### LENGUAJES ### */
#languages {
  background: linear-gradient(145deg,#060606 0%, #1f1f1f 100%);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}
#languages h2 {
  margin: 0;
}
#languages article {
  background: #131;
  border: #0605 solid 2px;  
  border-radius: 30px;
  padding: 10px 30px;
}
#languages pre {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
#languages .text_box {
  margin-left: 20px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: monospace;
  font-size: 12px;
}
#languages .text_box p{
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#languages .text_box p::before {
  content: "> ";
}
#languages .text_box b {
  font-weight: lighter;
  margin-top: 10px;
  color: #ccc;
}
#languages .text_box span {
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

/* ### PERSONALITY ### */
#mind {
  padding: 30px 20px;
}
.big-five h3 {
  text-align: center;
  font-size: 50px;
}
.big-five p {
  text-align: justify;
}
.big-five p span {
  font-size: inherit;
  vertical-align: middle;
}
.big-five ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding: 20px 0;
}
.big-five ul li {
  display: flex;
  height: fit-content;
  gap: 40px;
  align-items: center;
} 
.big-five ul li h4 {
  width: 100px;
  text-align: center;
  text-decoration: underline;
}
.big-five ul li h6 {
  background-color: var(--graph_color);
  width: 130px;
  text-align: center;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  padding-top: calc(100px * var(--porcentage));
  padding-bottom: 10px;
  margin: 0;
}
.big-five a {
  display: block;
  text-align: center;
  color: lightgray;
}
.big-five a span {
  font-size: inherit;
  vertical-align: middle;
  margin-left: 4px;
}


/* ### CONTACT ### */
#contact {
  background-color: #0d000d;
  padding-top: 20px;
}
#contact h2 {
  margin-left: 20px;
}
.media_box {
  padding: 30px 20px;
}
.media_box .social_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media_box .social_box a {
  color: black;
  font-weight: lighter;

  background-color: #eee;
  border-radius: 30px;
  width: 265px;
  
  display: flex;
  align-items: center;
  padding: 0 13px;
  margin-bottom: 10px;
}
.media_box .social_box a img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.linkedin_box {
  text-align: center;
  margin: 30px 0;
}

.linkedin_icon {
  --linkedin_icon_size: 24px;
  margin-bottom: 10px;
}
.linkedin_icon i{
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: var(--linkedin_icon_size);
}
.linkedin_icon b{
  color: black;
  background-color: white;
  padding: 2px 5px;
  border-radius: 15%;
  font-style: normal;
  font-weight: bold;
  font-size: var(--linkedin_icon_size);
}
#linkedin_qr {
  width: 290px;
  height: 290px;
  border-radius: 20px;
  filter: brightness(92%);
}

/*--- SOURCES --- */
.sources_box {
  width: 100%;
  padding: 30px 0;
  background-color: #000;
  text-align: center;
  color: #eee;
  font-weight: lighter;
}
.sources_box a {
  color: #eee;
  font-weight: bold;
}
.upper {
  display: block;
  margin-top: 40px;
}
.upper span {
  vertical-align: middle;
}