@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

svg {
    fill: black;
    
    margin: 10px 15px;
}


body {
    background-color: #111;
    color: white;
    margin: 0;
}

/* --- T1: HEADER --- */
header {
    background-color: gray;
    border-radius: 20px;
    width: 95%;
    margin: 10px auto;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.box {
    text-align: center;
}

h1 {
    /* from @Google_fonts : ubuntu-bold */
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 2.5em;
    text-align: left;
    margin: 20px 0;
    margin-left: 0.5em;
}

.tags {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tags li {
    width: fit-content;

    display: flex;
    gap: 3px;
}

.tags li span,
.tags li h5 {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    align-content: center;
}

.tags li h5 {
    /* from @Google_fonts : ubuntu-light */
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 5px 10px;
}

header img {
    width: 90%;
    max-height: 350px;
    object-fit: cover;
    object-position: 0% 100%;
    justify-content: center;
    margin: 20px auto;
    border-radius: 20px;
}


/* --- T2: EDUCATION --- */
#studies {
    color: black;
    background-color: #eee;
    margin-top: 30px;
}

section {
    padding: 0 10px;
    padding-top: 20px;
}

h2 {
    /* from @Google_fonts : ubuntu-bold */
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;

    text-decoration: underline;
    margin: 0;
}

.sub_box {
    height: max-content;
    display: flex;
}

.text_box {
    display: block;
    margin-bottom: 20px;
}

.text_box h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.2em;
    margin: 5px 0;
    width: max-content;
}

.text_box h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 0.8em;
    margin: 5px 0;
    width: 90%;
    margin: 0;
    margin-left: 10px;
}